# For GPU PyTorch, use: pip install torch torchvision --index-url https://download.pytorch.org/whl/cu126
# See https://pytorch.org/get-started/locally/
requests
pandas
openpyxl
praw
scikit-learn
transformers
tqdm
torch
torchvision
seaborn
umap-learn
hdbscan
sentence-transformers
statsmodels
ipywidgets
captum
keybert
